.temperature-div {
  background-color: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.detail-card {
  background-color: rgba(255, 255, 255, 0.03);
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}

.detail-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.main-bg {
  min-height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    #203580 0%,
    #4f4786 15%,
    #514676 30%,
    #313264 50%,
    #19204f 70%
  );
}

.main-bg {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Default: 4 columns */
  gap: 10px;
  justify-items: center;
  align-items: start;
}

/* At 1400px width, switch to 3 columns */
@media screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* At 900px width, switch to 2 columns */
@media screen and (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
  }
}

@media screen and (max-width: 720px) {
  body,
  .card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Single column */
  }
}

@media screen and (max-width: 520px) {
  body,
  .card-container {
    grid-template-columns: 1fr; /* Single column */
    gap: 20px;
  }
}
