.temperature-div {
  background-color: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.detail-card {
  background-color: rgba(255, 255, 255, 0.03);
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}

.detail-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.main-bg {
  background: linear-gradient(
    180deg,
    #203580 0%,
    #443e73 15%,
    #443a66 30%,
    #27284f 50%,
    #171e44 70%
  );
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.main-bg {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-bg > div {
  max-width: 100vw;
  max-height: 100vh;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2px;
  justify-items: center;
  align-items: start;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  body,
  .card-container {
    overflow-y: visible;
    justify-content: flex-start;
  }

  .main-bg {
    height: auto;
    padding-bottom: 20px;
  }
}
